<!DOCTYPE html>
<html>
<head>
    <title>Daily Sales</title>
</head>
<body>

<h1>Daily Sales</h1>

<form action="{% url 'sales:generate_daily_profit' %}" method="post">
    {% csrf_token %}
    <label for="date">Select Date:</label>
    <input type="date" id="date" name="date" required>
    <button type="submit">Generate Daily Sales</button>
</form>
{% if success %}
    <p>File generated successfully. <a href="{% url 'sales:download_excel' %}?presigned_url={{ presigned_url|urlencode }}">Download</a></p>
{% endif %}



</body>
</html>
